body {font-family:"Verdana", "Trebuchet MS", sans-serif; margin:50px;}
.error {visibility: hidden; padding: 5px 8px; margin-bottom: 10px}
.availableTransitions {clear: both; float: left; padding-right: 50px;}
.history {float:left;}
.test {visibility: hidden;clear: both;}
.update {display: none; padding: 5px 8px; margin-bottom: 15px}
.networkStatus {margin-top: 20px;}
.defaultValue {color:gray;}
.signOut {display: none;}
.status {float: right;}
